header {
    background-image: url("../imgs/background-img3.jpg");
    background-color: pink;
    background-repeat: repeat;   
    height: 200px;
    width: 100%;
    background-position: left;
    z-index: -1
}