input:checked { box-shadow: 0 0 0 1px green; }

input:disabled {background-color: lightgray;}

input:enabled { background-color: #ccffcc; }

/* css1: Z8 - atrybuty border*/
input:required { border-color: Crimson;
				 border-width: 2px;
				 border-style: dashed; }

textarea:focus { background-color: lightgrey; }

/*form > p:last-of-type { background-color: lightgrey; }
*/
#helpText {
	color: #000066;
	padding-top: 5px;
	font-weight: bold;
}

