input:checked { box-shadow: 0 0 0 1px green; }

/* Narazie brak pomysłu */
input:disabled {background-color: red;}

input[type=text]:enabled, input[type=email]:enabled { background-color: #ccffcc; }

/* css1: Z8 - atrybuty border*/
input:required { border-color: Crimson;
				 border-width: 2px;
				 border-style: dashed; }

textarea:focus { background-color: lightgrey; }

form > p:last-of-type { background-color: lightgrey; }

