#diagonal-gradient {
	background: -webkit-gradient(
		linear, left top, right bottom,
		color-stop(15%, white), 
		color-stop(70%, #b3b3ff),
		color-stop(99% Crimson));
	background: -moz-linear-gradient(
		top left, white 15%, #b3b3ff 70%, Crimson 99%);
	background: linear-gradient(
		to bottom right, white 15%, #b3b3ff 70%, Crimson 99%);
}

#horizontal-gradient {
	background: -webkit-gradient(
		linear, left top, right top,
		color-stop(15%, white), 
		color-stop(70%, #b3b3ff),
		color-stop(99%, Crimson));
	background: -moz-linear-gradient(
		left, white 15%, #b3b3ff 70%, Crimson 99%);
	background: linear-gradient(
		to right, white 15%, #b3b3ff 70%, Crimson 99%);
}

#vertical-gradient {
	background: -webkit-gradient(
		linear, center top, center bottom,
		color-stop(15%, white), 
		color-stop(70%, #b3b3ff),
		color-stop(99%, Crimson));
	background: -moz-linear-gradient(
		top, white 15%, #b3b3ff 70%, Crimson 99%);
	background: linear-gradient(
		to bottom, white 15%, #b3b3ff 70%, Crimson 99%);
}

#center-radial-gradient {
	background: -webkit-radial-gradient(center, white, #9999ff);
	background: -moz-radial-gradient(center, white, #9999ff);
	background: radial-gradient(center, white, #9999ff);
}

#left-radial-gradient {
	background: -webkit-radial-gradient(left, white, #9999ff);
	background: -moz-radial-gradient(left, white, #9999ff);
	background: radial-gradient(left, white, #9999ff);
}

#top-radial-gradient {
	background: -webkit-radial-gradient(top, white, #9999ff);
	background: -moz-radial-gradient(top, white, #9999ff);
	background: radial-gradient(top, white, #9999ff);
}