/* css1: Z3 - font sizes*/
.fs-rel-em { font-size: 1.8em; }

.fs-rel-ex { font-size: 1.8ex; }

.fs-rel-pe { font-size: 180%; }

.fs-abs-cm { font-size: 1cm; }

.fs-abs-pt { font-size: 22pt; }

/* css1: Z7 - text format*/
.tf-small { font-weight: lighter;
			font-style: normal;
			font-variant: normal;
			font-size: small;
			line-height: 250%;
			font-family: verdana, times, sans-serif }

.tf-title { font-weight: bolder;
			font-style: normal;
			font-variant: small-caps;
			font-size: 500%;
			line-height: 200%;
			font-family: cursive, courier, sans-serif;
			color: Crimson;
			text-align: center; }

.tf-subtitle { font-weight: bold;
			   font-style: italic;
			   font-variant: normal;
			   font-size: 100%;
			   line-height: 150%;
			   font-family: times, courier, sans-serif;
			   color: black; }

:link { color: Crimson;
		padding-left: 10pt;
		padding-right: 10pt;
		font-weight: bold;
		font-family: cursive, courier, sans-serif;		
		text-decoration-line: none; }

:visited {  color: #9933ff;
			padding-left: 10pt;
			padding-right: 10pt;
			font-weight: bold;
			font-family: cursive, courier, sans-serif;		
			text-decoration-line: none; }

nav :link { color: Crimson;
			font-weight: bold;
			font-family: cursive, courier, sans-serif;	
			font-size: x-large;	
			text-decoration-line: none; }		

footer > span { color: #DDDDDD;
				font-weight: bold; }

h2.subtitle { text-align: center; }

article { clear: both; }				

aside > p { position: relative;
			top: 15eM;
			right: 2ex;
			text-align: justify;			
		  }


  			